.btn {
  padding: 5px 30px;
  color: #ffffff;
  background-color: #111b47;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.light {
  padding: 5px 30px;
  background-color: #111b47;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #111b47;
  background-color: #fff;
  border-color: #111b47;
}
