.btn {
  height: 36px;
  width: 190px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: #ffffff;
  background-color: #111b47;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.light {
  height: 36px;
  width: 190px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: #111b47;
  background-color: #fff;
  border-color: #111b47;
  border-radius: 2px;
  cursor: pointer;
}
