.classList {
  padding-bottom: 18px;
  padding-top: 18px;
  display: flex;
  gap: 10px;
}

.navTxt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: #505f98;
}
.navTxt:not(:last-child) {
  margin-right: 60px;
}
